In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
df_daily = yf.download("IBIT", period="3mo", interval="60m")

[*********************100%***********************]  1 of 1 completed

In [3]:
df_daily

Price                    Close       High        Low       Open   Volume
Ticker                    IBIT       IBIT       IBIT       IBIT     IBIT
Datetime
2024-09-27 09:30:00  37.822800  37.865002  37.244999  37.380001  7906240
2024-09-27 10:30:00  37.849998  37.939999  37.724998  37.830002  5537139
2024-09-27 11:30:00  37.674999  37.875000  37.561199  37.875000  3986630
2024-09-27 12:30:00  37.505001  37.834999  37.485001  37.669998  2596500
2024-09-27 13:30:00  37.365002  37.580002  37.355000  37.500000  3579699
...                        ...        ...        ...        ...      ...
2024-12-26 11:30:00  54.544998  54.959999  54.505001  54.529999  2229507
2024-12-26 12:30:00  54.529999  54.700100  54.320000  54.549999  2282795
2024-12-26 13:30:00  54.294998  54.577702  54.230000  54.540001  2116730
2024-12-26 14:30:00  54.294998  54.689999  54.230000  54.299999  2240505
2024-12-26 15:30:00  54.305000  54.500000  54.220001  54.290001  2619465

[433 rows x 5 columns]